<a href="/igallery/"> iGallery <a> <br>
<a href="/accounts/login/"> login <a> <br>
<a href="/accounts/logout/"> logout <a> <br>
<a href="/signup/"> signup <a> <br>
<a href="/accounts/reset_password/"> Password Reset <a> <br>
<!--<a href="/accounts/password_reset_confirm/"> Password Reset Confirm <a> <br>-->
<a href="/accounts/password/reset/done/"> Password Reset Done <a> <br>
<!--<a href="/accounts/password_reset_email/"> Password Reset Email <a> <br>-->
<!--<a href="/accounts/password_reset_form/"> Password Reset Form <a> <br>-->